.green {
    background-color: #00ed5d;
}

#song-list-container {
    margin: 20px 0;
    padding-bottom: 30px;
}

#player {
    /*Should not be displayed or
     *controlled via iFrame*/
    display: block;/*none*/
}

#player-container {
    display: none;
}

.btn.green {
    width: 100px;
    height: 100px;
}
