#infoCarousel {
    height: 400px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-caption {
    bottom: 130px;
}

.carousel-caption {
    bottom: 80px;
}

.fa.fa-circle.active {
    color: var(--green);
    background: var(--green);
}

.fa.fa-circle {
    margin: 0 10px;
    border: 1px solid #c6c8ca;
    border-radius: 100%;
    color: var(--black);
}

div.carousel-caption {
    bottom: 140px;
}

