.song-button:hover {
    background: var(--green);
}

.list-group-item {
    color: var(--black);
}

.list-group-item-custom {
    background: var(--li-bg);
    color: var(--white);
    counter-increment: step-counter;
}

.list-group-item-custom::before {
    content: counter(step-counter);
    font-size: 80%;
    background-color: var(--green);
    color: #fff;
    font-weight: bold;
    padding: 3px 9px;
    margin-right: 10px;
    border-radius: 3px;
    float: left;
}

.list-group-item-custom.empty::before{
    content: none;
}

.btn-secondary {
    background: var(--white);
    border: none;
    color: var(--text-color);
}

.btn-secondary:hover {
    background: var(--white);
    border: none;
    color: var(--dark);
}

#form-clear {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

#form-submit {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

#song-list-container {
    padding-bottom: 20px;
}


