{% extends 'base.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='queue.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
{% endblock %}
{% block title %}room {{ name }}{% endblock %}
{% block content %}

    <h1>Room {{room.name}}</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="song id" id="id-input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="que-appender">Add song</button>
        </div>
    </div>

    <ol>
        {% for song in room.songs %}
            <li>{{song.name}}</li>
        {% else %}
            <li>No songs in queue</li>
        {% endfor %}
    </ol>
    <div id="player"></div>
{% endblock %}