<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <!--<script defer src="{{ url_for('static', filename='js/fontawesome-all.js') }}"></script>-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
    <!-- Why won't this work...
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    ...but this does -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Cookie consent -->
    <script id="cookie-consent-script" type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">

    <title>{% block title %}{% endblock %} - playlist</title>
    {% block head %}
    {% endblock %}
</head>
<body>

   <div class="wrapper">
       <div class="navbar navbar-custom">
           <a class="navbar-brand" id="menu-toggle-button">
               <i class="fa fa-bars"></i>
           </a>
           <!--<a href="/" class="pull-right" style="max-width: 42px;">
               <img class="img-fluid" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
           </a>-->
       </div>
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <a href="/">
                    <h3>Ølify</h3>
                    <strong>
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Ø" id="öl-logo-1">
                    </strong>
                </a>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#roomOptions" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-group"></i>
                        Rooms
                    </a>
                    <ul class="collapse list-unstyled" id="roomOptions" aria-expanded="false">
                        <li><a href="/rooms"><i class="fa fa-sign-in"></i> Log In</a></li>
                        <li><a href="/room-creation"><i class="fa fa-plus-square"></i> Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/login">
                        <i class="fa fa-user-plus"></i>
                        Log in or sign up
                    </a>
                </li>
                <li>
                    <a href="#contactOptions" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-address-book"></i>
                        Contact
                    </a>
                    <ul class="collapse list-unstyled" id="contactOptions">
                        <li><a href="http://www.github.com/EelisK" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/eelis-kostiainen/" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                        <li><a href="https://t.me/eelisko" target="_blank"><i class="fa fa-telegram"></i> Telegram</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
       <div id="content">
            {% block content %}
            {# content block comes here  #}
            {% endblock %}
        </div>
    </div>
</body>
</html>

