{% extends 'base.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='queue.js') }}"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script src="http://www.youtube.com/player_api" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
    <!--<meta http-equiv="refresh" content="5" >-->
{% endblock %}
{% block title %}room {{ room.name }}{% endblock %}
{% block content %}

    <div>
        <div class="float-right align-top">
            <a href="/rooms/{{ room.name }}/admin"><span class="fa fa-user-secret"></span></a>
        </div>
        <h1 class="float-left room-name">Room {{room.name}}</h1>
    </div>

    <form class="input-group mb-3" id="search-form">
        <input type="text" class="form-control" placeholder="search" id="search-key" disabled>
        <div class="input-group-append">
            <input class="btn btn-outline-success" type="submit" id="form-submit" value="Search">
        </div>
    </form>

    <div id="search-results" class="list-group">
    </div>

    <div id="song-list-container">
        <ol class="list-group" id="song-list">
            {% for song in room.queue %}
                <li class="list-group-item list-group-item-custom">{{song.name}}</li>
            {% else %}
                <li class="list-group-item border-danger">No songs in queue</li>
            {% endfor %}
        </ol>
    </div>


{% endblock %}