{% extends 'base.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='queue.js') }}"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script src="http://www.youtube.com/player_api" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
    <!--<meta http-equiv="refresh" content="5" >-->
{% endblock %}
{% block title %}room {{ room.name }}{% endblock %}
{% block content %}

    <div>
        <div class="float-right align-top">
            <a href="/rooms/{{ room.name }}/admin"><span class="fa fa-user-secret"></span></a>
        </div>
        <h1 class="float-left room-name">Room {{room.name}}</h1>
    </div>

    <form class="input-group mb-3" id="search-form">
        <div class="input-group-prepend">
            <button class="btn btn-secondary" type="submit" id="form-submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <input type="text" class="form-control" placeholder="type here" id="search-key" disabled>
        <div class="input-group-append">
            <button class="btn btn-secondary" id="form-clear">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </form>

    <div id="search-results" class="list-group">
    </div>

    <div id="song-list-container">
        <ol class="list-group" id="song-list">
            {% for song in room.queue %}
                <li class="list-group-item list-group-item-custom">{{song.name}}<span class="float-right">{{ song.duration|format_seconds }}</span></li>
            {% else %}
                <li class="list-group-item list-group-item-custom empty">No songs in queue</li>
            {% endfor %}
        </ol>
    </div>


{% endblock %}